*{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');


body{
  font-family: 'Montserrat', sans-serif;
}

/* Home */

.home{
  height: 100vh;
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

nav{
  position: relative;
  height: 10%;
  width: 100%;
}

nav ul{
  position: absolute;
  height: auto;
  width: 100%;
  bottom: 0%;
  text-align: right;
}

nav li{
  display: inline;
  font-size: 4vmin;
  font-weight: 400;
  padding-left: 3%;
}

.titre{
  position: relative;
  height: 90%;
  width: 50%;
}

.titre div{
  position: absolute;
  bottom: 0%;
  margin-bottom: 4vmin;
}

.titre h2 {
  font-size: 15vmin;
  font-weight: 800;
}

.ligne3 {
  font-size: 30vmin;
  font-weight: 800;
}

.ligne1 {
  line-height: 20vmin;
}

.ligne2 {
  line-height: 7.5vmin;
}

/* About */

.about{
  height: 50vh;
  width: 100vw;
  background-image: url("images/motif5.jpg");
  background-size: 52rem;
  background-repeat: no-repeat;
  background-position: left top;
}

.work{
  height: 150vh;
  width: 90vw;
}

.contact{
  height: 25vh;
  width: 90vw;
}

footer{
  height: 10vh;
  width: 90vw;
}

/* Commentaire */
